body {
    background: linear-gradient(to bottom, rgb(0, 47, 255), rgb(0, 255, 21));
    margin: 100;
    
    font-family: Arial, sans-serif;
    color: rgb(238, 255, 0);
  
  }

  img {
    display: block;
    margin: auto;
    width: 100%;
  }

  body{
      height: 100vh;

  }

  image {
    text-align:center
  }