body{
    
    background-color:aquamarine;


    h3{
        font-family: 'Courier New', Courier, monospace;
    }
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
img {

    display: block;
    margin: auto;
    width: 50%;
}

p {
    text-align: center;
}

@font-face {
    font-family: "Rick e morty";
    src: url(./assets/get_schwifty.ttf);
}

nav {
    font-family: "Rick e morty";
    background-color:azure !important;
}

h1{
 text-align: center;
 
}