body{
    
    background-color: rgb(223, 157, 249);


    p{

        font-family: italic;
        text-align: center; 
    }
}
h1 {
    font-family:  "Rick e morty" !important ;
    color:  rgb(76, 0, 106);
    text-align: center;
}
img {

    display: block;
    margin: auto;
    width: 50%;
}




@font-face {
    font-family: "Rick e morty";
    src: url(./assets/get_schwifty.ttf);
}

nav {
    font-family: "Rick e morty";
    background-color:azure !important;
}

h1{
 text-align: center;
 
}