body {
  background: rgb(0, 0, 0) !important;
  margin: 3px;
  ;

  font-family: Arial, sans-serif;
  color: rgb(238, 255, 0);

}

h1 {

  font-family: "Rick e morty" !important;
  color: rgb(165, 159, 42) !important;
}


h2 {
  text-align: center;
}


h3 {
  text-align: center;
}

image {
  text-align: center;
}


@font-face {
  font-family: "Rick e morty";
  src: url(./get_schwifty.ttf);
}

nav {
  font-family: "Rick e morty";
  background-color: rgb(255, 255, 255) !important;
}
