body {
  background: linear-gradient(to bottom, rgb(0, 38, 255), rgb(231, 218, 30));
  margin: 0;
  
  font-family: Arial, sans-serif;
  color: rgb(238, 255, 0);

}

h1 {

  color: rgb(255, 217, 0)
}


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

image {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}
