body {
  background: rgb(133, 133, 133) !important;
  margin: 3px;;

  font-family: Arial, sans-serif;
  color: rgb(238, 255, 0);

}

h1 {

  font-family: "Rick e morty"!important;
}


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

image {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

@font-face {
  font-family: "Rick e morty";
  src: url(./get_schwifty.ttf);
}

nav {
  font-family: "Rick e morty";
  background-color: rgb(255, 255, 255) !important;
}