body{
    background-color: liner-grandient( to bottom,git rgb(12, 228, 149),black) !important;
    margin: 0;
    height: 100vh;
    font-family: arial, sans-serif;
    color: rgb(3, 16, 164)!important;
}

h1{
    color: rgba(68, 205, 22, 0.466) !important;

}
h2{

    color: rgb(5, 175, 62) !important;
}

body {
    background-color: rgb(8, 209, 206)!important;
}

h1 {

    text-align: center;

}
h2{
    text-align: center;

}

img {
  display: block;
  margin: auto;
  width: 25%;

}