body {
    background-color: liner-grandient(to bottom, git rgb(39, 170, 166), black) !important;
    margin: 0;
    height: 100vh;
    font-family: arial, sans-serif;
    color: rgb(14, 15, 5) !important;
}

h1 {
    text-align: justify !important;
    color: rgb(14, 136, 40) !important;
    
}

h2 {
    text-align: justify !important;
    color: rgb(10, 169, 15) !important;
    font-variant: small-caps !important;
    
}

h4 {
    text-align: justify !important; 
    color: bisque;
    font-display: large !important;
    font-variant: small-caps !important;
}


body {
    background-color: rgb(241, 198, 146) !important;
    gap: 10px;
    display: flex !important;
    flex-direction: column;
}

h1 {
    text-align: justify !important;
    text-align-last: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

h2 {
    text-align: justify !important;
    text-align: center !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}


img {

    display: block;
    margin: auto;
    width: 20%;

}

h4 {
    text-align: justify !important;
    text-align: center;

}

@font-face {
    font-family: "Rick e morty";
    src: url(./assets/get_schwifty.ttf);
}

nav {
    font-family: "Rick e morty";
    background-color: azure !important;

}