body{
    background-color: liner-grandient( to bottom,git rgb(39, 170, 166),black) !impornt;
    margin: 0;
    height: 100vh;
    font-family: arial, sans-serif;
    color: rgb(14, 15, 5)!important;
}

h1{
    color: rgb(14, 136, 40) !important;

}
h2{
    
    color: rgb(2, 148, 7) !important;
}

h4{

    color: bisque;  
}


body {
    background-color: rgb(241, 198, 146)!important;
    gap: 10px;
    display: flex !important;
    flex-direction: column;
}

h1 {
    
    text-align-last: center;
}
h2{
    
    text-align: center;

}


img {

  display: block;
  margin: auto;
  width: 50%;

}

h4 {
 
 text-align: center;

}
@font-face {
    font-family: "Rick e morty";
    src: url(./assets/get_schwifty.ttf);
  }
  
  nav {
    font-family: "Rick e morty";
    background-color:azure !important;

  } 
  


  
  

  
  


    


    
  
