body{
    background-color: liner-grandient( to bottom,git rgb(39, 170, 166),black) !important;
    margin: 0;
    height: 100vh;
    font-family: arial, sans-serif;
    color: rgb(14, 15, 5)!important;
}

h1{
    color: rgb(231, 112, 8) !important;

}
h2{

    color: rgb(6, 73, 173) !important;
}

body {
    background-color: rgb(29, 190, 5)!important;
    gap: 10px;
    display: flex !important;
    flex-direction: column;
}

h1 {

    text-align: center;

}
h2{
    text-align: center;

}

img {
  display: block;
  margin: auto;
  width: 25%;

}

h4 {

 text-align: center;

}
@font-face {
    font-family: "Rick e morty";
    src: url(./assets/get_schwifty.ttf);
  }
  
  nav {
    font-family: "Rick e morty";
    background-color:azure !important;
  }

  h1{

    
  font-family: "Brush Script MT", cursive;

</style>
</head>
<body>

<h1>Lorem ipsum dolor sit amet</h1>

    }


    
  
