body {
    background-color: #ef5d31;
  }
  h1 {
    color: rgb(56, 0, 0);
 }
 h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 20%;
}
img {
  border-radius: 8px;
}
