body {
    background-color: rgba(98, 24, 24, 0.893);
  }
  h1 {
    color: rgb(56, 0, 0);
 }
 h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
p {
  text-align: center;
}
body {
  background-image: url("Morty.jpg");
}